.section-portfolio {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-list__item{
    &:not(:last-child){
        margin-right: 8px;
    }
}

.portfolio-list__button {
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    color: var(--title-text-color);
    background-color: #F5F4FA;


    transition: background-color $transition-duration $transition-timing-function,
        color $transition-duration $transition-timing-function,
        box-shadow $transition-duration $transition-timing-function;
}

.portfolio-list__button{
    &:hover, &:focus{
        color: $primary-text-color;
        background: $link-text-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.work-list {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-list__link {
    display: block;
    text-decoration: none;

    transition: box-shadow $transition-duration $transition-timing-function;
}

.work-list__link{
    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.work-list__item {
    margin-bottom: 30px;
    /* border: 1px solid #EEEEEE;
    justify-content: space-between; */
}

.work-list__item{
    &:nth-last-child(-n + 3){
        margin-bottom: 0;
    }
}

.work-list__thumb {
    overflow: hidden;

    position: relative;
}

.work-list__subtitle {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;


    color: $primary-text-color;
    background: rgba(33, 150, 243, 0.9);

    padding-top: 63px;
    padding-left: 24px;
    padding-bottom: 63px;
    padding-right: 24px;

    transform: translateY(100%);

    transition: transform $transition-duration $transition-timing-function;
}

.work-list__link:hover .work-list__subtitle {
    opacity: 1;

    transform: translateY(0);
}

.work-card {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.work-card__title {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    display: inline-block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $title-text-color;
}

.work-card__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $subtitle-text-color;
    margin-bottom: 20px;
    margin-left: 24px;
}